*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #f2f4f7;
}

ul {
  list-style: none;
}

.app {
  overflow: hidden;
  &__title {
    font-size: 2em;
    padding: 0.3em;
    text-align: center;
    color: $mainColor;
    text-transform: uppercase;
    margin-bottom: 1em;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
a,
button {
  cursor: pointer;
}

.app {
  max-width: 1500px;
  margin: 0 auto;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: $mainColor, $alpha: 0.2);
  z-index: 20;
  &__circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    animation: loading 0.4s alternate infinite, scaling 0.5s alternate infinite;
  }
}

@keyframes scaling {
  from {
    transform: translate(-50%, -50%) scale(0.5);
  }
  to {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

@keyframes loading {
  from {
    background-color: rgba($color: #98a2b3, $alpha: 0.5);
  }
  to {
    background-color: rgba($color: #98a2b3, $alpha: 1);
  }
}
