.input {
  border: 0;
  border-bottom: 1px solid $mainColor;
  opacity: 0.5;
  transition: 0.5s;
  font-size: 1.5rem;
  color: $mainColor;
  background-color: transparent;
  &:hover,
  &:focus {
    opacity: 1;
  }
}

.checkbox {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  span {
    color: $secondaryColor;
    margin-right: 0.8em;
  }
  input {
    display: none;
    &:checked ~ div::after {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  &__image {
    width: 1em;
    height: 1em;
    border-radius: 0.2em;
    border: 1px solid $mainColor;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      width: 0.5em;
      height: 0.5em;
      border-radius: 0.1em;
      background-color: $mainColor;
      transition: 0.25s;
    }
  }
}

.button {
  font-size: 0.75em;
  border: none;
  display: inline-block;
  color: $secondaryColor;
  background-color: transparent;
  border: 1px solid rgba($secondaryColor, 0.8);
  text-transform: uppercase;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  transition: 0.25s;
  &:hover {
    color: white;
    border-color: transparent;
    background-color: rgba($secondaryColor, 0.8);
  }
}
