.todo-list {
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  overflow-x: scroll;
  &__headers {
    display: flex;
    width: 100%;
  }

  &__item {
    display: flex;
    width: 100%;
  }
  &__cell {
    width: 100%;
    border: 1px solid black;
    text-align: center;
    max-width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    &_id {
      min-width: 50px;
    }
    &_title {
      max-width: 100%;
      @include mobile {
        min-width: 100px;
      }
    }
    &_completed {
      min-width: 120px;
    }
    &_edit {
      min-width: 5em;
    }
    &_delete {
      min-width: 5em;
    }
  }
}
