.todo-item {
  &__field {
    &_title {
      max-width: 100%;
    }
    &_completed {
      position: relative;
      &::after {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgb(243, 85, 85);
        box-shadow: inset -2px -2px 3px 0px rgba(0, 0, 0, 0.5);
        transition: 0.5s;
      }
      &._completed {
        &::after {
          background-color: rgb(89, 222, 89);
          box-shadow: inset -2px -2px 3px 0px rgba(0, 0, 0, 0.5);
        }
      }
    }
    &_edit {
    }
    &_delete {
    }
  }
}
