.todo-list {
  &__title {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.0075em;
    color: $secondaryColor;
    text-transform: uppercase;
    @include mobile {
      display: none;
    }
  }

  &__sort-btn {
    border: 0;
    background-color: transparent;
    color: $secondaryColor;
    text-transform: uppercase;
    font-size: 0.8em;
  }

  &__item {
    margin-bottom: 24px;
    &_header {
      margin-bottom: 32px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include mobile {
        margin-bottom: 1.5em;
      }
    }
    @include mobile {
      margin-bottom: 1em;
    }
    &_note {
      color: $secondaryColor;
      text-transform: uppercase;
      font-size: 0.7em;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  @include mobile {
    display: none;
    &._show {
      display: block;
    }
  }
}
