.todo-item {
  padding: 1em;
  background-color: #fcfcfd;
  box-shadow: 0px 0.5px 2px rgba(16, 24, 40, 0.3);
  border-radius: calc(8em / 20);
  font-size: 20px;
  letter-spacing: -0.02em;
  display: flex;
  flex-direction: column;
  min-height: 120px;
  justify-content: space-between;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
  @include mobile {
    max-width: 300px;
    margin: 0 auto;
  }
  &:hover {
    box-shadow: 0px 1px 4px rgba(16, 24, 40, 0.3);
    transform: scale(1.02);
  }
  &__text {
    font-weight: 700;
    padding-bottom: 0.5em;
    color: $mainColor;
  }
  &__created-by {
    font-size: 0.7em;
    color: #98a2b3;
    span {
      color: $secondaryColor;
    }
  }
  &__delete-btn {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    border: none;
    background-color: transparent;
    width: 1em;
    height: 1em;
    transition: 0.3s;
    opacity: 0.7;
    &:hover {
      opacity: 1;
      transform: scale(1.2);
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 70%;
      height: 0.1em;
      border-radius: 0.05em;
      left: 50%;
      top: 50%;
      background-color: $mainColor;
      transform-origin: center center;
    }
    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}
